@import '../../vars.css';

.container {
    color: var(--color-text);
    margin-top: 40px;
    background-color: rgb(3, 3, 42);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    padding: 50px 2%;
    /* gap: 10px; */
}

.text {
    width: 50%;
    margin-left: 10%;
    padding: 0 5%;
}
.text h2 {
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-top: 1%;
    padding-bottom: 2%;
    text-transform: uppercase;
}

.text p {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 5px;
    margin-left: 5%;
    padding-left: 5%;
}

.link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.link a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
    padding: 0 25px;
}

.link a:hover {
    background-color: rgb(7, 7, 139);
    padding: 0 10px;
    border-radius: 10px;
}

.link img {
    width: 5%;
}



@media screen and (max-width: 830px) {
    .container {
        flex-direction: column;
        gap: 23px;
    }
    .text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .links {
        align-items: center;
        margin-left: 25%;
    }

    
}